@charset "ISO-8859-1";
* {
	box-sizing: border-box;
}

body {
	background-image:
    url("https://t4.ftcdn.net/jpg/02/34/65/89/240_F_234658947_htH1zzRJwtjXLLjykLAQHUmV6Pwr3Ofa.jpg");

	background-size: cover;
	background-repeat: no-repeat;
	
	
}

.header {
	background-color: white;
	/* text-align: left; */
	padding: 25px;
	color: darkred;
	font-weight: bold;
	font-size: 27px;
	padding-left: 25px;
	padding-bottom: 5px;
	font-variant: small-caps;
}

.container {
	background-color: white;
	display: flex;
	height: 122px;
	width: 1350px;
}

.main {
	text-align: left;
	margin-left: 41%;
	/* margin-right: 33.3%; */
	padding: 10px;
	margin-bottom: 10px;
	/* 	width: 700px; */
	color: black;
	/* float:right; */
	display: flex;
	text-decoration: none;
}

.menu {
	border: 1px black solid;
	border-radius: 13px;
	background-color: white;
	color:#ff33cc;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	margin-right: 15px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	width: 130px;
}

.foot {
	text-align: center;
    color: cyan;
    font-weight: bold;
    font-size: 28px;
    padding-left: 25px;

}
.text{
text-decoration:none;
color:black;
}
